* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #18191A;
    overflow-x: hidden;
}   

nav{
    display: grid;
    grid-template-columns:6fr 6fr;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    width: 100%;
    height: 90px;
    list-style: none;
}

nav img{
    width: 210px;
    padding-top: 6px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #3f93fa;
    margin: 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    
}

.inicio{
    display:flex;
    width: 100%;
    height: 100vh;
    max-width: 1100px;
    margin: auto;
    background-color: #18191A;
}

.left{
    width: 60%;
    margin-top: 20vh;
}

.left h1{
    color: #E6E6E6;
    font-size: 1.2rem;
    font-weight: 400;
}

.left h2{
    color: #3f93fa;
    font-size: 3.1rem;
    margin-top: 40px;
}

.right{
    width: 40%;
    margin: auto;
}

.right img{
    width: 550px;
}

.portfolio_tittle{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    background-color: #242526;
    padding-bottom: 80px;
}

.skills{
    position: absolute;
    margin-top: 80px;
    color: #3f93fa ;
    text-align: center;
}

.skills h3{
    font-size: 2.8em;
    font-weight: 600;
}

.skills p{
    color: #E6E6E6;
    line-height: 28px;
    font-size: 1.1em;
}

.portfolio{
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    background-color: #242526;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.card{
    height: 360px;
    width: 310px;
    background-color: #3a3b3c;
    border: 2.7px solid #3A3B3C;
    transition: .5s ease;
    padding: 50px;
    border-radius: 10px;
    cursor: default;
    margin: 20px;
}

.card .title-card {
    font-size: 2.3em;
    color: #3f93fa;
    font-weight: 500;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 29px;
}

.card p{
    font-size: 1.05em;
    font-weight: 500;
    color: #fff;
    margin-left: 0px;
    font-weight: 300;
    line-height: 10px;
}

.card p span {
    font-size: 12px;
    margin-right: 25px;
}

.card:hover{
    transition: .5s ease;
    border: 2.7px solid #6e6e6e;
    margin-top: 15px;
}


.container_proyectos{
    background-color: #242526;
    height: 115vh;
}

.cards_projects{
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 60% 60%;
    justify-content: center;
    margin: auto;
}

.card_project{
    transition: .5s ease;
    cursor: default;
    margin: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.card_project section{
    position: relative;
    overflow: hidden;
    border-radius: 10px;

}

.card_project section .text_project{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #3f93fabb;
    opacity: 0;
    transition: all 300ms ease;
    text-align: center;
    color: rgb(255, 255, 255); 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card_project section .text_project h4{
    font-size: .5rem;
    font-weight: 600;
    transition: all 300ms ease;
    width: 100%;
}

.card_project section:hover > .text_project h4{
    font-size: 2.5rem;
    transition: all 300ms ease;
    color: rgb(255, 255, 255); 
}

.card_project section .text_project p{
    font-size: .6rem;
    font-weight: 400;
    transition: all 300ms ease;
    color: rgb(255, 255, 255);
    margin-top: -130px;
}

.card_project section:hover > .text_project p{
    transition: all 300ms ease;
    font-size: .95rem;
    margin-top: -130px;
}

.card_project section:hover > .text_project{
    opacity: 1;
    transition: all 300ms ease;
    color: rgb(29, 29, 29);
}

.card_project section:hover > img{
    transform: scale(1.1);
    transition: all 300ms ease;
    filter: blur(2px);
}

.card_project img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease;
}

.contacto{
    width: 100%;
    height: 100vh;
}

.contacto_tittle{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    padding-bottom: 80px;
}


.c_tittle{
    position: absolute;
    margin-top: 80px;
    color: #3f93fa ;
    text-align: center;
}

.c_tittle h3{
    font-size: 2.8em;
    font-weight: 600;
}

.c_tittle p{
    color: #E6E6E6;
    line-height: 28px;
    font-size: 1.1em;
}

.contacto_card{
    display: flex;
    width: 100%;
    justify-content: center;
}

.cards_contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.card_contact{
    height: 260px;
    width: 450px;
    background-color: #242526;
    border: 2.7px solid #242526;
    transition: .5s ease;
    border-radius: 10px;
    cursor: default;
    margin: 20px;
}

.card_contact a{
    text-decoration: none;
}

#contact_icon{
    display: flex;
    justify-content: center;
    align-content: center;
    color: #3f93fa;
    margin-top: 55px;
}

.card_contact .title-card {
    font-size: 1.55em;
    color: rgb(216, 216, 216);
    font-weight: 400;
    margin-left: 0;
    text-align: center;
}

.card_contact:hover{
    transition: .5s ease;
    border: 2.7px solid #434446;
    margin-top: 15px;
}

#button-up{
    width: 60px;
    height: 60px;
    background-color: #3f93fa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: fixed;
    font-size: 20px;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    transition: all .2s ease;
}

#button-up:hover{
    transform: scale(1.1);
    border: 2px solid white;
    transition: all .2s ease;
}

footer{
    display: grid;
    grid-template-columns:1fr;
    width: 100%;
    height: 300px;
    background-color:#242526;
    margin: auto;
}

.img-footer{
    margin-top: 60px;
}

.img-footer img{
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.text-footer{
    margin: auto;
    color: #3f93fa;
}

.line{
    width: 65%;
    height: 1px;
    background-color: #828792;
    margin: auto;

}

.copyright{
    margin: auto;
    color: #828792;
    margin-bottom: 35px;
}

@media (max-width: 980px) {
    .inicio {
      display: block;
      height: 870px;
    }


    .left{
        margin: auto;
        width: 100%;
        max-width: 800px;
    }

    .left h1{
        margin-top: 70px;
        text-align: center;
    }

    .left h2{
        text-align: center;
        font-size: 2.7rem;
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .right img{
        display: block;
        margin: 0 auto;
        width: 380px;
    }

    .cards_projects{
        grid-template-columns: 1fr;
    }

    .card_project img{
        width: 100%;
    }
  }

  @media (max-width: 500px) {

    nav{
        display: grid;
        grid-template-columns:1fr;
        align-items: center;
        max-width: 1100px;
        margin: auto;
        width: 100%;
        height: 90px;
        list-style: none;
        padding-bottom: 20px;
        border-bottom: 1px solid #3f93fa;
    }
    
    nav img{
        width: 210px;
        padding-bottom: 20px;
        display: block;
        
    }

    .left h1{
        color: #E6E6E6;
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    .left h2{
        color: #3f93fa;
        font-size: 1.9rem;
        margin-top: 40px;
    }
    
    .right{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .right img{
        width: 390px;
    }

    .portfolio{
        margin-top: -30px;
        height: 670px;
    }

    .container_proyectos{
        margin-top: -210px;
        
    }
    
    .skills{
        position: absolute;
        margin-top: 65px;
        color: #3f93fa ;
        text-align: center;
    }

    .skills h3{
        font-size: 2.5em;
        line-height: 1.1;
    }

    .skills p{
        margin-top: 25px;
        font-size: 1em;
    }

    .salto br{
        display: none;
    }

    .cards{
        margin-top: -170px;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }

    .card{
        border: 0px solid #252734;
        padding: 30px;
        margin-top: 0;
    }

    .card:hover{
        border: 0px solid #3c3e5000;
        transition: .5s ease;
        box-shadow: 0px 20px 28px #25273400;
        margin-top: 0px;
    }

    .portfolio_tittle{
        height: 400px;
        
    }
    
    .container_proyectos{
        height: 1200px;
    }

    .card_project section:hover > .text_project h4{
        font-size: 1.8rem;
    }

    .card_project section > .text_project p{
        font-size: .9rem;
    }

    .card_project section:hover > .text_project p{
        font-size: .85rem;
        margin-top: -80px;
        text-align: center;
    }

    .contacto{
        height: 950px;
    }

    .cards_contact{
        margin-top: -30px;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }

    #button-up{
        width: 50px;
        height: 50px;
        position: fixed;
        font-size: 20px;
        bottom: 10px;
        right: 10px;
    }
    
    #button-up:hover{
        transform: scale(1.1);
        border: 1px solid white;
        transition: all .2s ease;
    }
    
    .img-footer{
        margin-top: 60px;
    }
    
    .img-footer img{
        width: 70%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    .text-footer{
        margin: auto;
        color: #3f93fa;
    }
    
    .line{
        width: 75%;
        height: 1px;
        background-color: #828792;
        margin: auto;
    
    }

    .copyright p{
        text-align: center;
    }
    
  }